
@{
    ViewData["Title"] = "Index";
}

<h1>Persona</h1>

<button class="btn btn-primary" onclick="ExportarExcel()">Excel</button>
<div id="divPersona">

</div>

<script src="~/js/generic.js"></script>
<script src="~/js/persona.js"></script>
